<h1><%= t('.greeting')%>, <%= @user.first_name %></h1>
<p><%= t('.link') %></p>
<p><%= t('.time_expiration') %></p>

<%= link_to 'Reset Password', reset_password_customer_url(@user.reset_password_token) %>
