<h1>Reset Password</h1>

<<<<<<< HEAD
<%= form_for  @user, url: update_password_user_path(@user), html: {class: 'form-horizontal'} do |f| %>
=======
<%= form_for  @user, html: {class: 'form-horizontal'} do |f| %>
>>>>>>> add forgot password functionality
  <div class="field form-group">
    <%= f.label :password, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.password_field :password, class: 'form-control' %>
<<<<<<< HEAD
      <%= error_message_on f.object, :password %>
=======
      <%= error_message_on f.object, :password%>
>>>>>>> add forgot password functionality
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
<<<<<<< HEAD
      <%= error_message_on f.object, :password_confirmation %>
=======
      <%= error_message_on f.object, :password_confirmation%>
>>>>>>> add forgot password functionality
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('.confirm_reset_password'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

