<h1>Reset Password</h1>
<%= form_for  @user, as: :user,  url: update_password_user_path(@user), html: {class: 'form-horizontal'} do |f| %>
  <div class="field form-group">
    <%= f.label :password, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.password_field :password, class: 'form-control' %>
      <%= error_message_on f.object, :password %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= error_message_on f.object, :password_confirmation %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('.confirm_reset_password'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

