<h1 class="heading">Deals</h1>

<%= link_to 'New', new_admins_deal_url, class: 'new_link' %>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Publish Date</th>
      <th>State</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.id %></td>
        <td><%= link_to deal.title, edit_admins_deal_url(deal) %></td>
        <td><%= deal.description %></td>
        <td><%= deal.publish_date %></td>
        <td><%= deal.state %></td>
        <td><%= link_to 'Destroy', admins_deal_url(deal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
