<%= form_for [:admin, @deal] do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= error_message_on f.object, :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= error_message_on f.object, :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= error_message_on f.object, :price %>
  </div>

  <div class="field">
    <%= f.label :discounted_price %>
    <%= f.number_field :discounted_price %>
    <%= error_message_on f.object, :discounted_price %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
    <%= error_message_on f.object, :quantity %>
  </div>

  <div class="field">
    <%= f.label :publish_date %>
    <%= f.date_select :publish_date %>
    <%= error_message_on f.object, :publish_date %>
  </div>

  <div class="field">
      <%= f.fields_for :images do |builder| %>
        <% unless @deal.images.any? %>
          <%= render 'deal_images', f: builder %>
        <% else %>
           <fieldset>
            <%= image_tag builder.object.attachment.url(:thumb) %>
            <%= builder.hidden_field :_destroy %>
            <%= link_to "remove", "#", class: "remove_image" %>
            </fieldset>
        <% end %>
    <% end %>
  </div>

  <%= link_to_add_images "Add Image", f, :images %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
