<%= form_for [:admin, @deal],  html: {class: 'form-horizontal'} do |f| %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= f.text_field :title, class: 'form-control' %>
      <%= error_message_on f.object, :title %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-5">
      <%= f.text_area :description, class: 'form-control'  %>
      <%= error_message_on f.object, :description %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :price, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-5">
      <%= f.number_field :price, class: 'form-control'  %>
      <%= error_message_on f.object, :price %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :discounted_price, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-5">
      <%= f.number_field :discounted_price, class: 'form-control'  %>
      <%= error_message_on f.object, :discounted_price %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :quantity, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-5">
      <%= f.number_field :quantity, class: 'form-control'  %>
      <%= error_message_on f.object, :quantity %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :publish_date, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-5">
      <%= f.date_select :publish_date, class: 'form-control'  %>
      <%= error_message_on f.object, :publish_date %>
    </div>
  </div>

  <div class="field form-group">
    <% unless @deal.images.any? %>
      <%= f.fields_for :images do |builder| %>
        <%= render 'deal_images', f: builder %>
      <% end %>
    <% end %>
  </div>

  <% @deal.images.each do |image| %>
    <%= image_tag image.attachment.url(:thumb) %>
  <% end %>

  <%= link_to_add_images "Add Image", f, :images %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

