<!DOCTYPE html>
<html>
  <head>
    <title>Admin Side</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admins/base', media: 'all' %>
    <%= javascript_include_tag 'admins/base' %>
  </head>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Flash Site', root_url, class: "navbar-brand" %>
      </div>
      <div class="nav navbar-nav navbar-right">
        <li class="navbar-text"><strong id="user_name"><%= current_user.first_name.capitalize %></strong> </li>
        <li><%= link_to "Logout", logout_path %></li>
      </div>
    </div>
  </nav>


    <body class="container-fluid">

      <div class="row all">

        <div class="col-xs-2 sidenav">
          <%= link_to 'Deals', admins_deals_path %>
        </div>

        <div class="col-xs-10 main">
          <div>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: "alert alert-#{name}" %>
            <% end %>
          </div>
          <div class="content">
            <%= yield %>
          </div>
        </div>

      </div>

    </body>
</html>
